<p>This page shows all penpals registered on the Web site. Use the filter to narrow down your 
search by interest and/or letter frequency (which is how often a penpal wants to receive letters from you).</p>

<p>Penpals you have written letters to before are highlighted with an asterisk *</p>

<%= form_tag("/penpals", method: "get") do %>
  <%= select_tag "interest", options_from_collection_for_select(Interest.all, "id", "name", params[:interest]), include_blank: "Interest" %>
  <%= select_tag "frequency", options_for_select(['Weekly', 'Monthly', 'Yearly'], params[:frequency]), include_blank: "Frequency" %>
  <%= submit_tag "Filter" %>
<% end %>

<% unless @penpals.empty? %>
  <ul>
  <% @penpals.each do |penpal| %>
  <li> <%= link_to penpal.name, penpal %> <%= "*" if penpals?(penpal) %> </li>
  <% end %>
  </ul>
<% else %>
  <% if Penpal.all.empty? %>
  <p>There are no registered penpals.</p>
  <% else %>
  <p>No registered penpals meet the provided search criteria.</p>
  <% end %>
<% end %>

<% if check_for_params %>
<%= form_for "/penpals", method: "get" do |f| %>
  <%= f.submit "Reset Filter" %>
<% end %><% end %>
<br />

<%= link_to "Register New Penpal", new_penpal_url, class: "button" %>