<p> New penpal registration </p>

<%= form_for @penpal do |f| %>

    <%= f.label :first_name %>:
    <%= f.text_field :first_name %><br />
    <%= f.label :last_name %>:
    <%= f.text_field :last_name %><br />
    <%= f.label :age %>:
    <%= f.text_field :age %><br />

    <%= f.label :frequency, "Frequency you want to receive letters" %>:
    <%= f.collection_select :frequency, ['Weekly', 'Monthly', 'Yearly'], :to_s, :to_s %><br />

    <%= f.label :interest_ids, "Interests (pick at least one)" %>:<br />
    <%= f.collection_check_boxes(:interest_ids, Interest.all, :id, :name) %><br />
    
    <%= f.submit "Register Penpal" %>
<% end %>