<div class="login_box">

<% if logged_in? %>
 
    <% if current_user.penpals.count!=0 %>
      <p>Welcome back, <%= current_user.username %>.</p>
      <p>You have <%= current_user.penpals.uniq.count %> penpals.</p>
    <% else %>
      <p>Welcome to Elder Pals, <%= current_user.username %>.</p>
      <p>To get started, navigate to our <%= link_to "Pen Pals", penpals_url %> section.</p>
    <% end %>

<% else %>

    <p>Welcome to Elder Pals, the best way to meet and connect with new friends from another generation.</p>
    <p>Our Web site rekindles the concept of penpals for the modern world.</p>
    <p> <%= link_to "Sign Up", '/signup' %> / <%= link_to "Log In", '/login' %> </p>

<% end %>

</div>