<div class="login_box">

<% if logged_in? %>
<p>You are logged in as <%= current_user.username %>.</p>

    <%= form_tag('/logout') do %>
    <%= submit_tag 'Logout' %>
    <% end %>

<% else %>

    <p>Welcome to my app. Sign Up below:</p>
    <p>Click <%= link_to "here", '/signup' %> to sign up!</p>
    <p>Click <%= link_to "here", '/login' %> to log in!</p>

<% end %>

</div>