<div class="login_box">

<% if logged_in? %>
<p>You are logged in, <%= current_user.username %>.</p>
<% else %>
<p>Welcome to my app. Sign Up below:</p>

<%= form_for :user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br />
  
    <%= f.label :password %>:
    <%= f.password_field :password %><br />
  
    <%= f.submit "Sign Up" %>
<% end %>

<br />

<%= link_to 'Login with Facebook', '/auth/facebook', class: "fb_button" %>
<% end %>

</div>