<!DOCTYPE html>
<html>
  <head>
    <title>Rails App 3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div id="wrapper">

  <ul id="navbar">
  <li><a href="/">Home</a></li>
    <% if logged_in? %>
    <li><a href="/letters">Letters</a></li>
    <li><a href="/penpals">Penpals</a></li>
    <li>

    <%= form_tag(logout_path) do %>
    <%= button_tag "Logout" %>
    <% end %>

    </li>
    <% end %>
  </ul>

  <% flash.keys.each do |type| %>
    <div style="color:red" class="flash_<%= type %>">
      <%= flash[type] %>
    </div>
  <% end %>
  
    <%= yield %>

    </div>
    
  </body>
</html>
